@import "./_variable";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mq($breakpoint: md, $rule: min, $subtraction: false) {
  $breakpoint: map_get($mq-breakpoints, $breakpoint);

  @if $rule==max and $subtraction {
    $breakpoint: $breakpoint - 0.0625;
  }

  @media screen and (#{$rule}-width: $breakpoint) {
    @content;
  }
}

@mixin buttonCenter($height, $width, $fontSize) {
  background-color: white;
  box-shadow: 0 2px 0 rgb(54, 54, 54);
  height: $height;
  width: $width;
  border-radius: 50px;
  font-size: $fontSize;
  cursor: pointer;
  font-family: "ZenMaru-medium";
  &:active {
    box-shadow: none;
    transform: translateY(5px);
  }
}

@mixin titleCenter {
  font-family: "ZenMaru-light";
  font-size: medium;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 9%;
  position: relative;
}
