@mixin flexCenter {
  color: red;
  background-color: red;
}

@mixin circleCenter {
  position: absolute;
  inset: 0; /* top, right, bottom, leftを一括指定 */
  font-weight: 700;
  opacity: 0; /* 最初に表示される時に全て見えてしまうため */
  animation: opacityAnim 7s linear infinite; /* アニメーション時間はテキストの回転アニメーション時間と合わせる */
  @keyframes opacityAnim {
    0%,
    50%,
    100% {
      opacity: 0.2;
    } /* 文字が両端に来た時 */
    25% {
      opacity: 1;
    } /* 文字が一番手前（正面）に来た時 */
    75% {
      opacity: 0;
    } /* 文字が裏面に来た時 */
  }
}
