@font-face {
  font-family: "ZenMaru-medium";
  src: url("../assets/scss/Zen_Maru_Gothic/ZenMaruGothic-Medium.ttf");
}

@font-face {
  font-family: "ZenMaru-light";
  src: url("../assets/scss/Zen_Maru_Gothic/ZenMaruGothic-Light.ttf");
}
